<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
   
    <meta name="author" content="Devcrud" />
    <title>Madelson Acosta</title>
    
   
    <link rel="stylesheet" href="css/stylesAbout.css" />
  </head>
  <body>
    
    <header class="header">
      <div class="container">
        <div class="header-content">
          <h4 class="header-subtitle">Hello, I am</h4>
          <h1 class="header-title">Madelson Acosta</h1>
          <h6 class="header-mono">Web Developer</h6>
          <form action="/download">
            <button class="btn btn-primary btn-rounded">Print Resume</button>
             <a href="/visualize" class="btn btn-primary btn-rounded">See Resume</a>
          </form>
         
        </div>
      </div>
    </header>
    <nav
      class="navbar sticky-top navbar-expand-lg navbar-light bg-white"
      data-spy="affix"
      data-offset-top="510"
    >
      <div class="container">
        <button
          class="navbar-toggler ml-auto"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse mt-sm-20 navbar-collapse"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a href="/" class="nav-link">Home</a>
            </li>
          
          </ul>
          <ul class="navbar-nav brand">
            <img src="img/foto.jpg" alt="" class="brand-img" />
          
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="/#projects" class="nav-link">Portfolio</a>
            </li>
           
            <li class="nav-item last-item">
              <a href="/#footer" class="nav-link">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  </body>
</html>