<html>
  <head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="./css/styles.css" />
  </head>

  <body>

    <header>

      <nav id="navbar">
        <ul class="nav-list">
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="#projects">Work</a>
          </li>
          <li>
            <a href="#contact">Contact</a>
          </li>
        </ul>
      </nav>

    </header>

    <main>
      <section id="welcome-section">

        <h1>Hey👋 Welcome</h1>
        <p>hope you like what you see...</p>
      </section>

      <section id="projects">

        <h2 class="projects-section-header">Projects</h2>

        <div class="projects-grid">

          <a
            class="project-link"
            href="https://codepen.io/MadeCode-RD/full/yLaddJB"
            target="_blank"
          >

            <img
              class="project-image"
              src="https://drive.google.com/uc?export=view&id=1hT1x1OeKzH1fW33QiaVwNpHHFbatblSF"
              alt="project"
            />

            <p class="project-tile">
              <span class="code">&lt;</span>
              Survey Form
              <span class="code">&#47;&gt;</span>
            </p>

          </a>

          <a
            class="project-link"
            href="https://codepen.io/MadeCode-RD/full/wvzVdLX"
            target="_blank"
          >

            <img
              class="project-image"
              src="https://drive.google.com/uc?export=view&id=1WFLkuwwR9Pg_3CS6Vyw2UC1Nh9s48zz1"
              alt="project"
            />

            <p class="project-tile">
              <span class="code">&lt;</span>
              Product Page
              <span class="code">&#47;&gt;</span>
            </p>

          </a>

          <a
            class="project-link"
            href="https://codepen.io/MadeCode-RD/full/VwKJxyJ"
            target="_blank"
          >

            <img
              class="project-image"
              src="https://drive.google.com/uc?export=view&id=1PwgcNt_xbrwrv8hxytli8Bq9NX9EgUUi"
              alt="project"
            />

            <p class="project-tile">
              <span class="code">&lt;</span>
              Newton's Tribute
              <span class="code">&#47;&gt;</span>
            </p>

          </a>

          <a
            class="project-link"
            href="https://codepen.io/MadeCode-RD/full/jOVNdjK"
            target="_blank"
          >

            <img
              class="project-image"
              src="https://drive.google.com/uc?export=view&id=1BvA7kc5VnKbkX69Hv-xPWQZLFnB7MnTz"
              alt="project"
            />

            <p class="project-tile">
              <span class="code">&lt;</span>
              Tecnical Documentation Page
              <span class="code">&#47;&gt;</span>
            </p>

          </a>

        </div>

        <a
          href="https://codepen.io/MadeCode-RD"
          class="btn-show-all"
          target="_blank"
        >Show all<i class="fas fa-chevron-right"></i></a>

      </section>

      <section id="contact" class="contact-section">
        <div class="contact-section-header">
          <h2>Let's work together...</h2>
          <p>How do you take your coffee?</p>
        </div>
        <div class="contact-links">
          <a class="btn contact-details" href="https://web.facebook.com/zuck" target="_blank">
            <i class="fab fa-facebook-square" id="facebook"></i>
            Facebook</a>
          <a id="profile-link" class="btn contact-details" href="https://github.com/freeCodeCamp/freeCodeCamp" target="_blank"><i
              class="fab fa-github"
              id="github"
            ></i>
            GitHub</a>
          <a class="btn contact-details" href="https://twitter.com/BillGates?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><i
              class="fab fa-twitter"
              id="twitter"
            ></i>
            Twitter</a>
          <a class="btn contact-details" href="mailto:gunzultra360@gmail.com" target="_blank"><i class="fas fa-at" id="arroba" href="mailto:gunzultra360@gmail.com" target="_blank"></i>
            Send an E-mail</a>
          <a class="btn contact-details" href="tel:8096811005"><i
              class="fas fa-mobile-alt"
              id="cell"
            ></i>
            Call me</a>

        </div>

      </section>

    </main>

    <footer id="footer">
      <p>
        MadeCodeRD<span><img
            src="https://drive.google.com/uc?export=view&id=13Ak8l6INzJoRJxIdWifUhc_caP3o0312"
            class="RD"
          /></span>
      </p>
      <p>
        &copy; Created by Madelson Acosta
        <i class="fas fa-code"></i>
        <i class="fas fa-laptop-code"></i>

      </p>
    </footer>

  </body>

</html>